@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.inputs {
  display: flex;
  width: 100%;
  border-width: 2px;
  border-color: black;
  font-size: min(16px, 1rem);
  outline: none;
  padding: 0.5rem;
}
.inputBox {
  display: flex;
  position: relative;
  width: 100%;
}
.termsAndConditionsTitles {
  font-weight: bolder;
}
.termsAndConditionsText {
  font-size: smaller;
}

.font-haviland {
  font-family: "Mr De Haviland", cursive;
}
.font-play-fair {
  font-family: "Playfair Display", serif;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-roboto-slab {
  font-family: "Roboto Slab", serif;
}
.font-popings {
  font-family: "Poppins", sans-serif;
}
